.whatwedo_core-input {
    @apply bg-white focus:ring-primary focus:border-primary block w-full rounded-md sm:text-sm border-neutral-300;
    min-height: 2.2rem;
}

.whatwedo_core-input--rounded-left {
    @extend .whatwedo_core-input;
    @apply rounded-none rounded-l-md;
}

.whatwedo-crud-button--action {
    @apply inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-primary hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary sm:ml-3 transition-colors;
}

.whatwedo-crud-button--action-danger {
    @apply inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary sm:ml-3 transition-colors;
}

.whatwedo-crud-button--action-warning {
    @apply inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-yellow-600 hover:bg-yellow-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary sm:ml-3 transition-colors;
}

.whatwedo-crud-button--action-neutral {
    @apply inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-black bg-neutral-200 hover:bg-neutral-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary sm:ml-3 transition-colors;
}


.whatwedo-crud-button--action-delete {
    @apply inline-flex items-center px-3 py-2 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-md text-white bg-error-600 hover:bg-error-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-error-500;
}



.whatwedo-crud-button--action-no-bg {
    @apply inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary sm:ml-3 transition-colors;
}

/* TomSelect */
.ts-control {
    @apply border-neutral-300 focus-within:outline-none outline-none focus-within:ring-primary focus-within:border-primary focus-within:ring-1 rounded-lg gap-2;
    min-height: 2.2rem;
}

.ts-wrapper {
    //@apply p-0;
    @apply bg-transparent;
}

.ts-wrapper.plugin-remove_button .item {
    @apply rounded-md;
}
.ts-wrapper.multi .ts-control > div {
    @apply inline-flex items-center px-1.5 py-0 m-0 rounded text-xs font-medium bg-primary text-white;
}

.ts-wrapper.plugin-remove_button .item .remove {
    @apply border-none text-lg leading-none py-1 rounded-r-lg;
}

.ts-dropdown {
    @apply rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none;
}

.ts-dropdown [data-selectable].option:first-child {
    @apply rounded-t-md;
}

.ts-dropdown [data-selectable].option:last-child {
    @apply rounded-b-md;
}
.ts-dropdown .create:hover, .ts-dropdown .option:hover, .ts-dropdown .active {
    @apply bg-neutral-100 text-neutral-900 rounded-t-md;
}

input[type="select-one"] {
    display: none !important;
}

.ts-wrapper:not(.form-select).single .ts-control {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    padding-right: 2rem;
    cursor: pointer;
}
