.whatwedo_core-input {
    @apply bg-white focus:ring-primary focus:border-primary block w-full rounded-md sm:text-sm border-neutral-300;
    min-height: 2.2rem;
}

.whatwedo_core-input--rounded-left {
    @extend .whatwedo_core-input;
    @apply rounded-none rounded-l-md;
}

/* TomSelect */
.ts-control {
    @apply border-neutral-300 focus-within:outline-none outline-none focus-within:ring-primary focus-within:border-primary focus-within:ring-1 rounded-lg gap-2;
    min-height: 2.2rem;
}

.ts-wrapper {
    //@apply p-0;
    @apply bg-transparent;
}

.ts-wrapper.plugin-remove_button .item {
    @apply rounded-md;
}
.ts-wrapper.multi .ts-control > div {
    @apply inline-flex items-center px-1.5 py-0 m-0 rounded text-xs font-medium bg-primary text-white;
}

.ts-wrapper.plugin-remove_button .item .remove {
    @apply border-none text-lg leading-none py-1 rounded-r-lg;
}

.ts-dropdown {
    @apply rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none;
}

.ts-dropdown [data-selectable].option:first-child {
    @apply rounded-t-md;
}

.ts-dropdown [data-selectable].option:last-child {
    @apply rounded-b-md;
}
.ts-dropdown .create:hover, .ts-dropdown .option:hover, .ts-dropdown .active {
    @apply bg-neutral-100 text-neutral-900 rounded-t-md;
}

input[type="select-one"] {
    display: none !important;
}

.ts-wrapper:not(.form-select).single .ts-control {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    padding-right: 2rem;
    cursor: pointer;
}
