/* Utilities */
@layer components {
    .whatwedo-utility-heading-1 {
        @apply text-2xl font-semibold text-neutral-800;
    }

    .whatwedo-utility-heading-2 {
        @apply text-xl font-semibold text-neutral-700;
    }

    .whatwedo-utility-heading-3 {
        @apply text-lg font-semibold text-neutral-600;
    }

    .whatwedo-utility-heading-4 {
        @apply text-base font-semibold text-neutral-500;
    }

    .whatwedo-utility-paragraph {
        @apply text-base font-normal text-neutral-800;
    }

    .whatwedo-utility-paragraph--error {
        @apply text-base font-normal text-error-500;
    }

    .whatwedo-utility-paragraph--warning {
        @apply text-base font-normal text-warning-500;
    }

    .whatwedo-utility-paragraph--success {
        @apply text-base font-normal text-success-500;
    }

    .whatwedo-utility-bold {
        @apply text-base font-semibold text-neutral-500;
    }

    .whatwedo-utility-link {
        @extend .whatwedo-utility-heading-4;
        @apply text-neutral-800;
    }

    .whatwedo-utility-button {
        @apply px-4 py-2 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-white hover:bg-neutral-200 focus:ring-primary-500 transition-colors;
    }

    .whatwedo-utility-input {
        @apply bg-white focus:ring-primary-500 focus:border-primary-500 rounded-md text-base border-neutral-300;
    }

    .whatwedo-utility-input--error {
        @apply focus:ring-error-300 focus:border-error-300 border-error-500;
    }

    .whatwedo-utility-label {
        @extend .whatwedo-utility-bold;
        @apply text-neutral-500;
    }

    // Topbar
    .whatwedo-utility-topbar {
        @apply flex flex-grow-0 flex-auto px-4 py-4 min-h-[71px] justify-end lg:justify-between bg-white;
    }

    // Modal
    .whatwedo-utility-modal {
        @apply fixed z-50 duration-300 ease-in-out transform inset-0 overflow-y-auto;

        &__overlay {
            @apply relative flex min-h-screen text-center md:block md:px-4 lg:px-8 text-[0];
        }

        &__backdrop {
            @apply hidden md:block absolute inset-0 bg-neutral-500 bg-opacity-75 transition-opacity;
        }

        &__wrapper {
            @apply flex text-base text-left transform transition md:py-4 lg:py-8 w-full md:min-w-[650px] md:inline-block md:align-middle;
        }

        &__wrapper-inner {
            @apply w-full relative flex items-center bg-neutral-100 p-8 sm:p-6 overflow-hidden shadow-2xl overflow-visible;
        }

        &__close {
            @apply absolute top-5 right-5 text-neutral-400 hover:text-neutral-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 rounded transition-colors;
        }
    }
}

/* Style Hooks */
.whatwedo_core-input {
    @extend .whatwedo-utility-input;
    @apply block w-full;
    min-height: 2.2rem;
}

.whatwedo_core-input--rounded-left {
    @extend .whatwedo_core-input;
    @apply rounded-none rounded-l-md;
}

.whatwedo-crud-button--action {
    @extend .whatwedo-utility-button;
    @apply inline-flex items-center bg-primary-500 hover:bg-primary-700;
}

.whatwedo-crud-button--action-danger {
    @extend .whatwedo-utility-button;
    @apply inline-flex items-center bg-error-500 hover:bg-red-700;
}

.whatwedo-crud-button--action-warning {
    @extend .whatwedo-utility-button;
    @apply inline-flex items-center bg-warning-500 hover:bg-yellow-700;
}

.whatwedo-crud-button--action-neutral {
    @extend .whatwedo-utility-button;
    @apply inline-flex items-center bg-neutral-500 hover:bg-neutral-700;
}

.whatwedo-crud-button--action-no-bg {
    @extend .whatwedo-utility-button;
    @apply inline-flex items-center bg-transparent border-neutral-300 text-neutral-700 hover:bg-neutral-100;
}

.whatwedo-crud-button--action-white {
    @extend .whatwedo-utility-button;
    @apply inline-flex items-center bg-white border-neutral-300 text-neutral-700 hover:bg-neutral-100;
}

.whatwedo-table-filter-amount {
    input, select {
        @extend .whatwedo-utility-input;
    }
}

.whatwedo-crud-topbar-actions__submenu {
    & >,
    .whatwedo-core-action__confirmation > {
        .whatwedo-crud-button--action-neutral,
        .whatwedo-crud-button--action-warning,
        .whatwedo-crud-button--action-danger,
        .whatwedo-crud-button--action-no-bg,
        .whatwedo-crud-button--action {
            @apply h-auto shadow-none border-none rounded-none px-3 m-0 w-full;
            @apply text-neutral-700 bg-transparent hover:bg-neutral-200 font-semibold;
        }
    }
}

/* TomSelect */
.ts-control {
    @apply border-neutral-300 focus-within:outline-none outline-none focus-within:ring-primary-500 focus-within:border-primary-500 focus-within:ring-1 rounded-lg gap-2;
    min-height: 2.2rem;
}

.ts-wrapper {
    //@apply p-0;
    @apply bg-transparent;
}

.ts-wrapper.plugin-remove_button .item {
    @apply rounded-md;
}
.ts-wrapper.multi .ts-control > div {
    @apply inline-flex items-center px-1.5 py-0 m-0 rounded text-xs font-medium bg-primary-500 text-white;
}

.ts-wrapper.plugin-remove_button .item .remove {
    @apply border-none text-lg leading-none py-1 rounded-r-lg;
}

.ts-dropdown {
    @apply rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none;
}

.ts-dropdown [data-selectable].option:first-child {
    @apply rounded-t-md;
}

.ts-dropdown [data-selectable].option:last-child {
    @apply rounded-b-md;
}
.ts-dropdown .create:hover, .ts-dropdown .option:hover, .ts-dropdown .active {
    @apply bg-neutral-100 text-neutral-900 rounded-t-md;
}

.ts-wrapper:not(.form-select).single .ts-control {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    padding-right: 2rem;
    cursor: pointer;
}

/* Datepicker - easepick */
.easepick-wrapper {
    --color-fg-primary: theme('colors.primary.500');
    @apply z-10;
}

/* Calendar */
.fc {
    .fc-toolbar-title {
        @extend .whatwedo-utility-heading-1;
        @apply my-4 #{!important};
    }

    .fc-toolbar.fc-header-toolbar {
        @media (max-width: theme('screens.lg')) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

.fc-media-screen {
    @apply font-sans;

    --fc-neutral-text-color: theme('colors.neutral.500');
    --fc-border-color: theme('colors.neutral.300');
    --fc-button-bg-color: theme('colors.primary.500');
    --fc-button-border-color: theme('colors.primary.500');
    --fc-button-text-color: theme('colors.neutral.700');
    --fc-button-hover-bg-color: theme('colors.primary.700');
    --fc-button-hover-border-color: theme('colors.primary.700');
    --fc-button-active-bg-color: theme('colors.primary.500');
    --fc-button-active-border-color: theme('colors.primary.500');
    --fc-event-bg-color: theme('colors.primary.500');
    --fc-event-border-color: theme('colors.primary.500');
    --fc-event-text-color: theme('colors.neutral.100');
    --fc-more-link-bg-color: theme('colors.neutral.300');
    --fc-today-bg-color: theme('colors.primary.100');

    .fc-button.fc-button-primary {
        @extend .whatwedo-crud-button--action-neutral;
        @apply mx-2;

        border-bottom-right-radius: initial !important;
        border-top-right-radius: initial !important;
        @apply rounded-md border-none hover:bg-primary-500 #{!important};

        &.fc-today-button,
        &.fc-button-active {
            @extend .whatwedo-crud-button--action;
            @apply text-neutral-100 #{!important};
        }
    }

    .fc-button-group .fc-button {
        &:first-child {
            @apply ml-0;
        }

        &:last-child {
            @apply mr-0;
        }
    }

    .fc-col-header-cell {
        @apply bg-neutral-200 text-neutral-500;
    }

    .fc-daygrid-day,
    .fc-day-past {
        @apply bg-white text-neutral-700;
    }

    .fc-daygrid-event {
        @apply font-sans font-medium;
        border-radius: 12px;
        padding: 1px 7px;
    }
}

// render empty tomcat '---'
.ts-wrapper {
    .ts-dropdown-content {
        div[data-value=""].option:after {
            content: '---';
        }
    }
    .ts-control {
        div[data-value=""].item:after {
            content: '---';
        }
    }
}

// Turbo
.turbo-progress-bar {
    @apply bg-primary-500 h-1;
}
